body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}

.logo {
  color: #e50914;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: black;
}

.container {
  padding: 20px;
}

.search {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.form input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

button {
  background-color: #e50914;
  border: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #b20710;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1f1f1f;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}